# Byte-compiled / optimized / DLL files
__pycache__/


# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
MANIFEST.in

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/_build/

# Environments
.env
.venv

# mypy
.mypy_cache/

# Project specific
ratethrottle_report.json
*.yaml.bak
